<!DOCTYPE html>

<html>

  <head>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/style.css">
  </head>

  <body>
    <div class="main-content">
      {{>header}}

      <h1>404</h1>

      <h2>{{errorMessage}}</h2>
    </div>

    
    {{>footer}}
  </body>

</html>